$primary-dark: #97673b;
$primary-dark-25: #97673b25;
$primary-light: #fff8f3;
$decoration: #ed706b;

$text-dark:#000000;
$text-light:#FFFFFF;

$cover: rgba(50, 50, 50, 0.4);

// $primary-dark: #85586F;
// $primary-light: #F8EDE3;
