<div class="flex-container">

  <div class="img-section">
    <img src="../../assets/img/hair-salon/hair-salon-2.jpeg" alt="">
    <div class="slogen-container">
      <div class="slogen">
        <h1 class="sloge-part-1">A világ nem tökéletes</h1>
        <h1 class="slogen-part-2">de a te hajad lehet az</h1>
      </div>
    </div>
  </div>


  <div class="back">
    <div class="introduction">
      <div class="introduction-text">
        <h3>
          Horváth - Csáki Adrienn
        </h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
      </div>
      <div class="self-image">
        <img class="adrienn" src="/assets/img/adrienn_marina.jpg" alt=""  #salonImage/>
        <div class="circle"></div>
      </div>
    </div>
  </div>

</div>



